<ng-form name="vm.{{vm.name}}" class="form-horizontal form-builder">

    <div class="form-group" ng-repeat="field in vm.fields">

        <!-- Text -->
        <div ng-if="field.type === 'text'">
            <label for="{{field.key}}" class="col-xs-2 control-label">{{field.name | translate}}</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id={{field.key}}"
                       ng-model="vm.models[$index]"
                       ng-required="field.required">
            </div>
        </div>

        <!-- Number -->
        <div ng-if="field.type === 'number'">
            <label for="{{field.key}}" class="col-xs-2 control-label">{{field.name | translate}}</label>
            <div class="col-xs-10">
                <input type="number" class="form-control" id={{field.key}}"
                       ng-model="vm.models[$index]"
                       ng-required="field.required">
            </div>
        </div>

        <!-- Price -->
        <div ng-if="field.type === 'price'">
            <label for="{{field.key}}" class="col-xs-2 control-label">{{field.name | translate}}</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id={{field.key}}"
                       ng-model="vm.models[$index].value"
                       ng-change="vm.updateItem()"
                       ng-required="field.required">
            </div>
            <div class="col-xs-2">
                <ui-select class="multi-value-select" ng-model="vm.models[$index].currency"
                            theme="bootstrap"
                            ng-change="vm.updateItem()"
                            id="{{field.key}}"
                            required="field.required">
                <ui-select-match>{{$select.selected | translate}}</ui-select-match>
                <ui-select-choices repeat="item in field.values | filter:$select.search">
                    {{item | translate}}
                </ui-select-choices>
            </ui-select>
            </div>
        </div>

        <!-- Textarea -->
        <div ng-if="field.type === 'textarea'">
            <label ng-if="field.name" class="control-label col-xs-2" for="{{field.key}}">{{field.name | translate}}</label>
            <div ng-class="{'col-xs-10' : field.name, 'col-xs-12' : !field.name}">
                <textarea class="form-control"
                          ng-model="vm.models[$index]"
                          rows="{{field.rows || 5}}"
                          id="{{field.key}}"
                          ng-required="field.required">
            </textarea>
            </div>
        </div>

        <!-- Multiselect -->
        <div ng-if="field.type === 'multiselect'" >
            <label class="col-xs-2 control-label" for="{{field.key}}">{{field.name | translate}}</label>
            <div class="col-xs-10">
                <ui-select class="multi-value-select" multiple ng-model="vm.models[$index]"
                           theme="bootstrap"
                           id="{{field.key}}"
                           close-on-select="false"
                           sortable="true"
                           ng-attr-tagging="{{field.tagging || undefined}}"
                           tagging-label="false"
                           required="field.required">
                    <ui-select-match>{{field.translateKey + $item | translate}}</ui-select-match>
                    <ui-select-choices repeat="item in field.values | filter:$select.search">
                        {{field.translateKey + item | translate}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- Select -->
        <div ng-if="field.type === 'select'" >
            <label class="col-xs-2 control-label" for="{{field.key}}">{{field.name | translate}}</label>
            <div class="col-xs-10">
                <ui-select class="single-value-select" ng-model="vm.models[$index]"
                           id="{{field.key}}"
                           theme="bootstrap"
                           required="field.required">
                    <ui-select-match>{{field.translateKey + $select.selected | translate}}</ui-select-match>
                    <ui-select-choices repeat="item in field.values | filter:$select.search">
                        {{field.translateKey + item | translate}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- Select Object-->
        <div ng-if="field.type === 'selectObject'" >
            <label class="col-xs-2 control-label" for="{{field.key}}">{{field.name | translate}}</label>
            <div class="col-xs-10">
                <ui-select class="single-value-select" ng-model="vm.models[$index]"
                           id="{{field.key}}"
                           theme="bootstrap"
                           required="field.required">
                    <ui-select-match>{{$select.selected.value[field.itemLabel]}}</ui-select-match>
                    <ui-select-choices repeat="label.value[field.itemKey] as (key, label) in field.values | filter:$select.search">
                        {{label.value[field.itemLabel] | translate}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- Place -->
        <div ng-if="field.type === 'place' && field.onlySearchInput">
            <label class="control-label col-xs-2">{{field.name | translate}}</label>
            <div class="col-xs-10">
                 <rdl-place-auto-complete-form
                        api-key="{{field.apiKey}}"
                        id="{{field.key}}"
                        only-search-input
                        ng-attr-restrict-type="{{field.restrictType || undefined}}"
                        location="vm.models[$index]">
                </rdl-place-auto-complete-form>
            </div>
        </div>
        <div ng-if="field.type === 'place' && !field.onlySearchInput" class="col-xs-12">
            <div>
                <rdl-place-auto-complete-form
                        api-key="{{field.apiKey}}"
                        id="{{field.key}}"
                        ng-attr-restrict-type="{{field.restrictType || undefined}}"
                        location="vm.models[$index]">
                </rdl-place-auto-complete-form>
            </div>
        </div>

        <!-- image -->
        <div ng-if="field.type === 'image'">
            <label for="{{field.key}}" class="col-xs-2 control-label">{{field.name | translate}}</label>
            <div class="col-xs-10  label-value input-group">
                <input type="text" class="form-control" id={{field.key}}"
                       ng-model="vm.models[$index]"
                       ng-required="field.required">
                <a  class="btn-primary input-group-addon"
                    accept="image/*"
                    id="{{field.key}}"
                    ngf-select="vm.upload(field.url, $file, $index)"
                    ngf-drop>
                    <span ng-if="vm.loading[$index] === false">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </span>
                    <span ng-if="vm.loading[$index] === true">
                        <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                    </span>
                </a>
            </div>
        </div>

        <!-- label -->
        <div ng-if="field.type === 'label'">
            <label for="{{field.key}}" class="col-xs-2 control-label">{{field.name | translate}}</label>
            <div class="col-xs-10  label-value">
                {{field.translateKey + vm.models[$index] | translate}}
            </div>
        </div>


        <hr ng-if="field.type === 'hr'"/>

    </div>

    <div class="row" ng-if="vm.showSaveBtn">
        <div class="col-xs-10 col-sm-offset-2">
            <button class="btn btn-primary pull-left" type="button" ng-click="vm.saveItem()" ng-disabled="vm[vm.name].$invalid">{{vm.saveText | translate}}</button>
        </div>
    </div>

</ng-form>
